#login{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#login-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#login-form label {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#login-form button {
    height: 40px;
    padding: 10px 15px;
    color: aliceblue;
    font-weight: bold;
    background-color: #DD5746;
    border: none;
    border-radius: 10px;
    transition: background-color 0.7s ease-in-out;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#login-form button:hover{
    background-color: #8B322C;
}