.sunrise-sunset-outer {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.sunrise-sunset-outer h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}


.control {
    margin-bottom: 15px;
}

/* Label styles */
.control label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    color: #555;
}

/* Input styles */
.control input[type="text"],
.control input[type="date"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    transition: border-color 0.3s;
}

.controlp input[type="text"]:focus,
.control input[type="date"]:focus {
    border-color: #007bff;
}

/* Button styles */
.buttons {
    text-align: center;
}

.submit-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #0056b3;
}


.results-outer {
    min-width: 500px;
    max-width: 1000px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f1f1f1;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.results-outer h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.result-item {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    justify-content: space-between; 
    align-items: center;
    text-align: center; 
}

.result-item:last-child {
    border-bottom: none;
}

.result-label {
    font-weight: bold;
    color: #555;
    text-align: left; 
    flex: 1;
}

.result-value {
    color: #333;
    font-weight: bold;
    flex: 2; /* Allow more space for values, center them */
    text-align: center;
}