#registration-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#registration-form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#registration-form label {
    display: flex;
    gap: 20px;
    justify-content: space-between;
}

#registration-form button {
    height: 40px;
    padding: 10px 15px;
    color: aliceblue;
    font-weight: bold;
    background-color: #DD5746;
    border: none;
    border-radius: 10px;
    transition: background-color 0.7s ease-in-out;
    margin-left: 10px;
    margin-bottom: 10px;
    cursor: pointer;
}

#registration-form button:hover{
    background-color: #8B322C;
}


/* Modal Styles */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background: white;
    padding: 20px;
    max-width: 500px;
    width: 100%;
    border-radius: 10px;
    text-align: center;
}

.modal h2 {
    margin-top: 0;
}

.modal button {
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.modal button:hover {
    background-color: #0056b3;
}
